openapi: 3.1.1
info:
  title: Publer Workspaces API
  description: 'The Publer API (v1) is a RESTful JSON interface for automating social media workflows
    - scheduling, publishing, media management and analytics - across Facebook, Instagram, X/Twitter,
    LinkedIn, TikTok, YouTube, Pinterest, Threads, Bluesky, Mastodon, Google Business Profiles, WordPress
    and Telegram. Authentication is an API key sent as `Authorization: Bearer-API YOUR_API_KEY` together
    with a `Publer-Workspace-Id` header. The API is available exclusively to Publer Business users.'
  termsOfService: https://publer.com/terms
  contact:
    name: Publer Support
    email: support@publer.com
    url: https://publer.com/docs
  version: 1.0.0
servers:
- url: https://app.publer.com/api/v1
security:
- BearerApiAuth: []
tags:
- name: Workspaces
  description: Endpoints for managing workspaces and teams
paths:
  /workspaces:
    get:
      summary: List Workspaces
      description: Retrieves a list of all workspaces that the authenticated user has access to.
      tags:
      - Workspaces
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
      operationId: listWorkspaces
components:
  schemas:
    401ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    403ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    Workspace:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the workspace
        owner:
          type: object
          description: Information about the workspace owner
          properties:
            id:
              type: string
              description: Unique identifier for the owner
            email:
              type: string
              description: Email address of the owner
            name:
              type: string
              description: Username of the owner
            first_name:
              type: string
              description: First name of the owner
            picture:
              type: string
              description: URL to the owner's profile picture
        name:
          type: string
          description: The workspace's display name
        members:
          type: array
          description: List of users with access to the workspace
          items:
            type: object
        plan:
          type: string
          description: Subscription plan of the workspace
        picture:
          type: string
          description: URL to the workspace's logo
  securitySchemes:
    BearerApiAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'API key authentication. Format: "Bearer-API YOUR_API_KEY"'
