openapi: 3.0.1
info:
  title: Publer Accounts API
  description: 'The Publer API (v1) lets Publer Business customers programmatically schedule and publish social media posts, manage connected social accounts and workspaces, work with the media library, and track asynchronous jobs. Authentication uses an API key passed as `Authorization: Bearer-API YOUR_API_KEY` together with a `Publer-Workspace-Id` header. The API is currently available exclusively to Publer Business users.'
  termsOfService: https://publer.com/terms
  contact:
    name: Publer Support
    url: https://publer.com/docs
  version: '1.0'
servers:
- url: https://app.publer.com/api/v1
security:
- api_key: []
  workspace_id: []
tags:
- name: Accounts
paths:
  /accounts:
    get:
      operationId: listAccounts
      tags:
      - Accounts
      summary: List accounts
      description: Retrieves a list of social media accounts available in the workspace specified by the Publer-Workspace-Id header.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        type:
          type: string
        code:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the account.
        provider:
          type: string
          description: Social network provider.
          enum:
          - bluesky
          - facebook
          - instagram
          - linkedin
          - twitter
          - tiktok
          - youtube
          - pinterest
          - google
          - wordpress
          - telegram
          - mastodon
          - threads
        name:
          type: string
          description: Display name of the social media account.
        social_id:
          type: string
          description: Unique identifier for the account on the social platform.
        picture:
          type: string
          description: URL to the account's avatar/logo.
        type:
          type: string
          description: Account type.
          enum:
          - page
          - profile
          - group
          - business
          - channel
          - location
          - blog
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as `Authorization: Bearer-API YOUR_API_KEY`. A `Publer-Workspace-Id` header is also required to scope requests to a workspace.'
    workspace_id:
      type: apiKey
      in: header
      name: Publer-Workspace-Id
      description: The id of the workspace to scope the request to.
