openapi: 3.2.0
info:
  title: Publer Accounts API
  description: 'The Publer API (v1) is a RESTful JSON interface for automating social media workflows - scheduling, publishing, media management and analytics - across Facebook, Instagram, X/Twitter, LinkedIn, TikTok, YouTube, Pinterest, Threads, Bluesky, Mastodon, Google Business Profiles, WordPress and Telegram. Authentication is an API key sent as `Authorization: Bearer-API YOUR_API_KEY` together with a `Publer-Workspace-Id` header. The API is available exclusively to Publer Business users.'
  termsOfService: https://publer.com/terms
  contact:
    name: Publer Support
    email: support@publer.com
    url: https://publer.com/docs
  version: 1.0.0
servers:
- url: https://app.publer.com/api/v1
security:
- BearerApiAuth: []
tags:
- name: Accounts
  description: Endpoints for managing connected social accounts
paths:
  /accounts:
    get:
      summary: List Accounts
      description: Retrieves a list of social media accounts available in the specified workspace.
      tags:
      - Accounts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve accounts from
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
      operationId: getAccounts
      x-operation-id-source: derived
components:
  schemas:
    403ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    401ErrorResponseWithWorkspace:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    Account:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the account
        provider:
          type: string
          description: The social network provider
          enum:
          - bluesky
          - facebook
          - instagram
          - linkedin
          - twitter
          - tiktok
          - youtube
          - pinterest
          - google
          - wordpress
          - telegram
          - mastodon
          - threads
        name:
          type: string
          description: The display name of the social media account
        social_id:
          type: string
          description: Unique identifier for the account on the social media platform
        picture:
          type: string
          description: URL to the account's avatar/logo
        type:
          type: string
          description: Account type
          enum:
          - page
          - profile
          - group
          - business
          - channel
          - location
          - blog
  securitySchemes:
    BearerApiAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'API key authentication. Format: "Bearer-API YOUR_API_KEY"'
