openapi: 3.1.1
info:
  title: Publer API
  description: 'The Publer API (v1) is a RESTful JSON interface for automating social media workflows
    - scheduling, publishing, media management and analytics - across Facebook, Instagram, X/Twitter,
    LinkedIn, TikTok, YouTube, Pinterest, Threads, Bluesky, Mastodon, Google Business Profiles, WordPress
    and Telegram. Authentication is an API key sent as `Authorization: Bearer-API YOUR_API_KEY` together
    with a `Publer-Workspace-Id` header. The API is available exclusively to Publer Business users.'
  termsOfService: https://publer.com/terms
  contact:
    name: Publer Support
    email: support@publer.com
    url: https://publer.com/docs
  version: 1.0.0
servers:
- url: https://app.publer.com/api/v1
security:
- BearerApiAuth: []
tags:
- name: Accounts
  description: Endpoints for managing connected social accounts
- name: Analytics
  description: Endpoints for retrieving analytics data and charts
- name: Competitors
  description: Endpoints for retrieving competitors and analytics
- name: Jobs
  description: Endpoints for managing asynchronous jobs
- name: Media
  description: Endpoints for uploading and managing media files
- name: Posts
  description: Endpoints for managing social media posts
- name: Users
  description: Endpoints for managing user accounts and authentication
- name: Workspaces
  description: Endpoints for managing workspaces and teams
paths:
  /analytics/{account_id}/best_times:
    get:
      summary: Get Best Times to Post for Account
      description: Retrieves the optimal posting times for a specific social media account based on historical
        analytics data. Returns a heatmap of posting performance across days of the week and hours of
        the day, tailored to the specified account's audience engagement patterns.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve best times from
        required: true
      - schema:
          type: string
        name: account_id
        in: path
        description: Social media account ID to analyze posting times for. When provided, analysis is
          specific to this account's performance data
        required: false
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        name: competitors
        in: query
        description: Include competitor data in best times analysis. Set to 'true' to analyze competitor
          posting patterns
        required: false
      - schema:
          type: string
        name: competitor_id
        in: query
        description: Specific competitor ID to analyze. Used in conjunction with competitors=true parameter
        required: false
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for analytics data range (YYYY-MM-DD format). Filters data from this date
          onwards
        required: true
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for analytics data range (YYYY-MM-DD format). Filters data up to this date
        required: true
      responses:
        '200':
          description: Best times to post data organized by day of the week and hour for the specific
            account
          content:
            application/json:
              schema:
                type: object
                description: Heatmap data showing optimal posting times with scores for each hour of each
                  day, specific to the account's audience
                additionalProperties:
                  type: array
                  description: Array of 24 hourly scores (0-23) for each day of the week
                  items:
                    type: number
                    description: Engagement score for this hour (higher = better posting time)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /analytics/charts:
    get:
      summary: Get Available Analytics Charts
      description: Retrieves a list of available analytics charts filtered by account type and chart type.
        Charts include growth metrics (followers, connections), insights (engagement, reach), and demographics
        (countries, ages).
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve charts from
        required: true
      - schema:
          type: string
          enum:
          - ig_business
          - fb_page
          - twitter
          - linkedin
          - youtube
          - tiktok
          - google
          - pin_business
          - pin_personal
          - threads
          - wordpress_oauth
          - in_profile
          - in_page
          - mastodon
          - bluesky
        name: account_type
        in: query
        description: Social media platform type to filter charts for (e.g., 'ig_business', 'fb_page',
          'twitter', 'linkedin', 'youtube', 'tiktok', 'google', 'pin_business')
        required: false
      responses:
        '200':
          description: List of available charts with metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier for the chart
                    title:
                      type: string
                      description: Display title of the chart
                    group_id:
                      type: string
                      description: Group category (growth, insights, demographics)
                    tooltip:
                      type: string
                      description: Tooltip text explaining the chart
                    type:
                      type: string
                      description: Chart visualization type
                      enum:
                      - vertical
                      - horizontal
                      - side_by_side
                    last_value:
                      type: boolean
                      description: Whether to show the most recent value
                    show_percentage:
                      type: boolean
                      description: Whether values should be displayed as percentages
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /analytics/chart_data:
    get:
      summary: Get Analytics Chart Data
      description: Retrieves analytics data for specific charts by their IDs. Returns current and previous
        period data for comparison. Supports growth metrics, post insights, and demographic data.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve data from
        required: true
      - schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        name: chart_ids
        in: query
        description: Array of chart IDs to retrieve data for. Use chart IDs from the /analytics/charts
          endpoint
        required: true
      - schema:
          type: string
        name: account_id
        in: path
        description: Optional account ID to filter analytics data for a specific social media account
        required: false
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for analytics data (YYYY-MM-DD format)
        required: false
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for analytics data (YYYY-MM-DD format)
        required: false
      responses:
        '200':
          description: Analytics chart data with current and previous period values
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: object
                    description: Current period data for requested charts
                    additionalProperties:
                      type: object
                      description: Chart-specific data structure with metrics and values
                  previous:
                    type: object
                    description: Previous period data for comparison
                    additionalProperties:
                      type: object
                      description: Previous period chart data for trend analysis
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /competitors/{account_id}:
    get:
      summary: List Competitors
      description: Retrieves a list of competitor accounts for the workspace or for a specific social
        media account.
      tags:
      - Competitors
      parameters:
      - schema:
          type: string
        name: account_id
        in: path
        description: ID of the social media account to retrieve competitors for.
        required: false
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve competitors from
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    provider:
                      type: string
                      description: Social media provider (instagram, facebook, twitter, etc.)
                    name:
                      type: string
                      description: Display name of the competitor account
                    social_id:
                      type: string
                      description: Unique social media ID of the competitor
                    picture:
                      type: string
                      description: Profile picture URL of the competitor
                    type:
                      type: string
                      description: Type of account (user, page, etc.)
                    competitor_sync_in_queue:
                      type: boolean
                      description: Whether competitor sync is currently queued
                    username:
                      type: string
                      description: Username of the competitor (available for twitter, instagram, telegram,
                        mastodon)
                    verified:
                      type: boolean
                      description: Whether the account is verified (available for twitter, facebook)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /competitors/{account_id}/analytics:
    get:
      summary: Get Competitors Analytics
      description: Retrieves analytics data for competitor accounts, including engagement metrics, follower
        counts, and post performance statistics.
      tags:
      - Competitors
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve competitors analytics from
        required: true
      - schema:
          type: string
        name: account_id
        in: query
        description: ID of the social media account to filter competitors analytics for
        required: false
      - schema:
          type: string
        name: competitor_id
        in: query
        description: Specific competitor account ID to analyze
        required: false
      - schema:
          type: string
        name: query
        in: query
        description: Search filter for competitor account names
        required: false
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for analytics data (ISO 8601 format, e.g., 2023-01-01)
        required: false
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for analytics data (ISO 8601 format, e.g., 2023-12-31)
        required: false
      - schema:
          type: integer
          minimum: 0
        name: page
        in: query
        description: 'Page number for pagination (default: 0)'
        required: false
      - schema:
          type: string
          enum:
          - followers
          - reach
          - engagement
          - posts_count
          - videos_count
          - photos_count
          - links_count
          - statuses_count
        name: sort_by
        in: query
        description: Field to sort results by
        required: false
      - schema:
          type: string
          enum:
          - asc
          - desc
        name: sort_type
        in: query
        description: Sort direction
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  insights:
                    type: array
                    description: Array of competitor analytics data
                    items:
                      type: object
                      properties:
                        account:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Competitor account ID
                            name:
                              type: string
                              description: Competitor account name
                            provider:
                              type: string
                              description: Social media provider
                            competitor_sync_in_queue:
                              type: boolean
                              description: Whether sync is in progress
                            picture:
                              type: string
                              description: Profile picture URL
                            my_account:
                              type: boolean
                              description: Whether this is the user's own account
                        followers:
                          type: integer
                          description: Current follower count
                        followers_growth:
                          type: integer
                          description: Follower growth during the period
                        engagement:
                          type: integer
                          description: Total engagement count
                        engagement_rate:
                          type: number
                          description: Engagement rate percentage (for Twitter)
                        reach:
                          type: integer
                          description: Total reach (not available for Instagram/Facebook)
                        posts_count:
                          type: integer
                          description: Total number of posts
                        videos_count:
                          type: integer
                          description: Number of video posts
                        photos_count:
                          type: integer
                          description: Number of photo posts
                        links_count:
                          type: integer
                          description: Number of link posts (not available for Instagram)
                        statuses_count:
                          type: integer
                          description: Number of status posts (not available for Instagram)
                  total:
                    type: integer
                    description: Total number of competitor accounts
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
        '422':
          description: Unprocessable entity - service error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error message from the service
  /analytics/{account_id}/hashtag_insights:
    get:
      summary: Get Hashtag Insights
      description: Retrieves comprehensive analytics data for hashtags used in published posts. Provides
        metrics like reach, engagement, likes, comments, shares, and video views for each hashtag, along
        with recent posts using each hashtag and hashtag performance scores.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve insights from
        required: true
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for hashtag insights data range (YYYY-MM-DD format). Filters posts scheduled
          on or after this date
        required: false
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for hashtag insights data range (YYYY-MM-DD format). Filters posts scheduled
          on or before this date
        required: false
      - schema:
          type: string
          enum:
          - posts
          - reach
          - likes
          - comments
          - shares
          - video_views
        name: sort_by
        in: query
        description: Field to sort hashtag results by. Supports various engagement and performance metrics
        required: false
      - schema:
          type: string
          enum:
          - ASC
          - DESC
        name: sort_type
        in: query
        description: Sort order direction
        required: false
      - schema:
          type: string
        name: account_id
        in: path
        description: Filter hashtags for a specific social media account ID. If omitted, includes all
          workspace accounts
        required: false
      - schema:
          type: integer
          minimum: 0
        name: page
        in: query
        description: Page number for pagination (0-based indexing). Each page contains 10 hashtags
        required: false
      - schema:
          type: string
        name: query
        in: query
        description: Search query to filter hashtags by name using case-insensitive matching
        required: false
      - schema:
          type: string
        name: member_id
        in: query
        description: Filter hashtags by specific workspace member ID
        required: false
      responses:
        '200':
          description: Hashtag insights data with analytics metrics and pagination information
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    description: Array of hashtags with detailed analytics data
                    items:
                      type: object
                      properties:
                        hashtag:
                          type: string
                          description: 'The hashtag text (without # symbol)'
                        posts:
                          type: integer
                          description: Number of posts using this hashtag
                        recent_posts:
                          type: array
                          description: Array of recent post objects using this hashtag (up to 3 posts)
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the post
                              text:
                                type: string
                                description: Post content text
                              scheduled_at:
                                type: string
                                format: date-time
                                description: Date and time when post was scheduled/published
                        reach:
                          type: integer
                          description: Total reach across all posts using this hashtag
                        likes:
                          type: integer
                          description: Total likes across all posts using this hashtag
                        comments:
                          type: integer
                          description: Total comments across all posts using this hashtag
                        shares:
                          type: integer
                          description: Total shares across all posts using this hashtag
                        engagement:
                          type: integer
                          description: Total engagement (likes + comments + shares) across all posts using
                            this hashtag
                        video_views:
                          type: integer
                          description: Total video views across all video posts using this hashtag
                        link_clicks:
                          type: integer
                          description: Total link clicks across all posts using this hashtag
                        post_clicks:
                          type: integer
                          description: Total post clicks across all posts using this hashtag
                        saves:
                          type: integer
                          description: Total saves across all posts using this hashtag
                        hashtag_score:
                          type: number
                          format: float
                          description: Performance score of the hashtag as percentage relative to overall
                            post engagement
                  total:
                    type: integer
                    description: Total number of hashtags matching the filter criteria (for pagination)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /analytics/{account_id}/hashtag_performing_posts:
    get:
      summary: Get Hashtag Performing Posts
      description: Retrieves the top performing posts for a specific hashtag. Returns up to 6 posts that
        used the hashtag, with comprehensive analytics metrics including engagement, reach, likes, comments,
        shares, and video views.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve posts from
        required: true
      - schema:
          type: string
        name: hashtag
        in: query
        description: 'The hashtag to retrieve performing posts for (with # symbol). This parameter is
          required to filter posts by the specific hashtag'
        required: true
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for posts data range (YYYY-MM-DD format). Filters posts scheduled on or
          after this date
        required: false
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for posts data range (YYYY-MM-DD format). Filters posts scheduled on or
          before this date
        required: false
      - schema:
          type: string
          enum:
          - scheduled_at
          - reach
          - engagement
          - engagement_rate
          - click_through_rate
          - reach_rate
          - postType
          - likes
          - video_views
          - comments
          - shares
          - saves
          - link_clicks
          - post_clicks
        name: sort_by
        in: query
        description: Field to sort post results by. Supports various engagement and performance metrics
        required: false
      - schema:
          type: string
          enum:
          - ASC
          - DESC
        name: sort_type
        in: query
        description: Sort order direction
        required: false
      - schema:
          type: string
        name: account_id
        in: path
        description: Filter posts for a specific social media account ID. If omitted, includes all workspace
          accounts
        required: false
      - schema:
          type: string
        name: member_id
        in: query
        description: Filter posts by specific workspace member ID
        required: false
      - schema:
          type: string
        name: query
        in: query
        description: Search query to filter posts by content text, title, or link information using case-insensitive
          matching
        required: false
      responses:
        '200':
          description: Hashtag performing posts data with analytics metrics
          content:
            application/json:
              schema:
                type: array
                description: Array of top performing posts using the specified hashtag (up to 6 posts)
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier for the post
                    text:
                      type: string
                      description: Post content text
                    title:
                      type: string
                      description: Post title if available
                    scheduled_at:
                      type: string
                      format: date-time
                      description: Date and time when post was scheduled/published
                    account_id:
                      type: string
                      description: ID of the social media account that published this post
                    hashtags:
                      type: array
                      description: Array of hashtags used in this post
                      items:
                        type: string
                    analytics:
                      type: object
                      description: Comprehensive analytics data for the post
                      properties:
                        reach:
                          type: integer
                          description: Total reach of the post
                        likes:
                          type: integer
                          description: Number of likes received
                        comments:
                          type: integer
                          description: Number of comments received
                        shares:
                          type: integer
                          description: Number of shares/reposts
                        engagement:
                          type: integer
                          description: Total engagement (likes + comments + shares)
                        engagement_rate:
                          type: number
                          format: float
                          description: Engagement rate as percentage
                        video_views:
                          type: integer
                          description: Number of video views (for video posts)
                        link_clicks:
                          type: integer
                          description: Number of link clicks
                        post_clicks:
                          type: integer
                          description: Number of post clicks
                        saves:
                          type: integer
                          description: Number of saves/bookmarks
                    details:
                      type: object
                      description: Additional post details and metadata
                      properties:
                        labels:
                          type: array
                          description: Labels assigned to this post
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Label ID
                              name:
                                type: string
                                description: Label name
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /analytics/members:
    get:
      summary: Get Analytics Members Data
      description: Retrieves analytics data for workspace members showing their posting activity and engagement
        metrics.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve members from
        required: true
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for analytics data range (YYYY-MM-DD format). Filters data from this date
          onwards
        required: true
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for analytics data range (YYYY-MM-DD format). Filters data up to this date
        required: true
      - schema:
          type: string
        name: account_id
        in: query
        description: Optional account ID to filter analytics data for a specific social media account
        required: false
      responses:
        '200':
          description: Members analytics data with performance metrics
          content:
            application/json:
              schema:
                type: array
                description: List of members with their analytics data
                items:
                  type: object
                  properties:
                    engagements:
                      type: integer
                      description: Total engagements (likes + comments + shares + post clicks) for the
                        member
                    posts:
                      type: integer
                      description: Total number of posts created by the member
                    reach:
                      type: integer
                      description: Total reach for the member's posts (only included for supported account
                        types)
                    account_ids:
                      type: array
                      description: List of account IDs the member posted to
                      items:
                        type: string
                    user:
                      type: object
                      description: User information for the member
                      properties:
                        id:
                          type: string
                          description: User ID
                        name:
                          type: string
                          description: User's display name
                        picture:
                          type: string
                          description: URL to user's profile picture
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /analytics/{account_id}/post_insights:
    get:
      summary: Get Post Post Insights
      description: Retrieves comprehensive analytics data for published posts with advanced filtering,
        sorting, and pagination capabilities.
      tags:
      - Analytics
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve insights from
        required: true
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        name: competitors
        in: query
        description: Include competitor analysis data. Set to 'true' to retrieve competitor post insights
        required: false
      - schema:
          type: string
        name: account_id
        in: path
        description: Filter posts for a specific social media account ID. If omitted, includes all workspace
          accounts. Used with competitors parameter for competitor-specific analysis
        required: false
      - schema:
          type: string
        name: competitor_id
        in: query
        description: Specific competitor account ID to analyze when competitors=true. Works in conjunction
          with account_id parameter
        required: false
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: Start date for post insights data range (YYYY-MM-DD format). Filters posts scheduled
          on or after this date
        required: true
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: End date for post insights data range (YYYY-MM-DD format). Filters posts scheduled
          on or before this date
        required: true
      - schema:
          type: string
        name: query
        in: query
        description: Search query to filter posts by text content, title, link description, or video title
          using case-insensitive matching
        required: false
      - schema:
          type: string
          enum:
          - poll
          - status
          - link
          - carousel
          - photo
          - git
          - video
          - reel
          - document
          - short
          - article
          - story
        name: postType
        in: query
        description: Filter posts by specific post type (e.g., image, video, link, text, carousel)
        required: false
      - schema:
          type: string
          enum:
          - scheduled_at
          - reach
          - engagement
          - engagement_rate
          - click_through_rate
          - reach_rate
          - postType
          - likes
          - video_views
          - comments
          - shares
          - saves
          - link_clicks
          - post_clicks
        name: sort_by
        in: query
        description: Field to sort results by. Supports various engagement and performance metrics
        required: false
      - schema:
          type: string
          enum:
          - ASC
          - DESC
        name: sort_type
        in: query
        description: Sort order direction
        required: false
      - schema:
          type: integer
          minimum: 0
        name: page
        in: query
        description: Page number for pagination (0-based indexing). Each page contains 10 posts
        required: false
      - schema:
          type: string
        name: member_id
        in: query
        description: Filter posts by specific workspace member/user ID who created or manages the posts
        required: false
      responses:
        '200':
          description: Post insights data with analytics metrics and pagination information
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    description: Array of posts with detailed analytics data
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the post
                        text:
                          type: string
                          description: Post content text
                        title:
                          type: string
                          description: Post title
                        scheduled_at:
                          type: string
                          format: date-time
                          description: Date and time when post was scheduled/published
                        post_type:
                          type: string
                          description: Type of post (image, video, link, etc.)
                        account_id:
                          type: string
                          description: ID of the social media account
                        details:
                          type: object
                          properties:
                            labels:
                              type: array
                              description: Labels/tags associated with the post
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                                  color:
                                    type: string
                        analytics:
                          type: object
                          description: Comprehensive analytics data for the post
                          properties:
                            reach:
                              type: integer
                              description: Number of unique users who saw the post
                            engagement:
                              type: integer
                              description: Total engagement count (likes + comments + shares + saves +
                                clicks)
                            engagement_rate:
                              type: number
                              format: float
                              description: Engagement rate as percentage
                            likes:
                              type: integer
                              description: Number of likes/reactions
                            comments:
                              type: integer
                              description: Number of comments
                            shares:
                              type: integer
                              description: Number of shares/reposts
                            saves:
                              type: integer
                              description: Number of saves/bookmarks
                            video_views:
                              type: integer
                              description: Number of video views (for video posts)
                            link_clicks:
                              type: integer
                              description: Number of link clicks
                            post_clicks:
                              type: integer
                              description: Number of post profile clicks
                            click_through_rate:
                              type: number
                              format: float
                              description: Click-through rate percentage
                            reach_rate:
                              type: number
                              format: float
                              description: Reach rate percentage
                  total:
                    type: integer
                    description: Total number of posts matching the filter criteria (for pagination)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied - requires analytics access or paying subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /accounts:
    get:
      summary: List Accounts
      description: Retrieves a list of social media accounts available in the specified workspace.
      tags:
      - Accounts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve accounts from
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /media:
    get:
      summary: List Media
      description: Retrieves a paginated list of media items from the user's library. The endpoint supports
        filtering by various parameters and can also retrieve specific media items by their IDs.
      tags:
      - Media
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve media from
        required: true
      - schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        name: ids
        in: query
        description: Specific media IDs to retrieve. If provided, pagination and other filters are ignored
        required: false
      - schema:
          type: integer
        name: page
        in: query
        description: Page number for pagination (0-based)
        required: false
      - schema:
          type: array
          items:
            type: string
            enum:
            - photo
            - video
            - gif
        style: form
        explode: false
        name: types
        in: query
        description: Filter by media types
        required: true
      - schema:
          type: array
          items:
            type: boolean
        style: form
        explode: false
        name: used
        in: query
        description: Filter by used status
        required: true
      - schema:
          type: array
          items:
            type: string
            enum:
            - canva
            - vista
            - postnitro
            - contentdrips
            - openai
            - favorites
        style: form
        explode: false
        name: source
        in: query
        description: Filter by source
        required: false
      - schema:
          type: string
        name: search
        in: query
        description: Search term to filter media by name or caption
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  media:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the media
                        type:
                          type: string
                          description: Type of media
                          enum:
                          - photo
                          - video
                          - gif
                        name:
                          type: string
                          description: Name of the media
                        caption:
                          type: string
                          description: Caption for the media
                        path:
                          type: string
                          description: URL to the full media
                        thumbnails:
                          type: array
                          description: Array of thumbnails objects associated with the media
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the thumbnail
                              small:
                                type: string
                                description: URL to the small thumbnail
                              real:
                                type: string
                                description: URL to the real thumbnail
                        created_at:
                          type: string
                          format: date-time
                          description: Creation timestamp
                        updated_at:
                          type: string
                          format: date-time
                          description: Last update timestamp
                        favorite:
                          type: boolean
                          description: Whether the media is marked as favorite
                        in_library:
                          type: boolean
                          description: Whether the media is saved in the library
                  total:
                    type: integer
                    description: Total count of media items matching the query (without pagination)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
    post:
      summary: Upload a media file directly
      description: Upload a media file (image, video, or document) to be used in social media posts
      tags:
      - Media
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to upload media
        required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  contentMediaType: application/octet-stream
                direct_upload:
                  type: boolean
                  description: Whether to upload directly to our S3 cloud (slower, but required if you
                    need the final media URL)
                  default: false
                in_library:
                  type: boolean
                  description: Whether to save to media library
                  default: false
            encoding:
              file:
                contentType: application/octet-stream
      responses:
        '200':
          description: Media file uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '413':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /posts:
    get:
      summary: List Posts
      description: Retrieves a list of posts based on the specified filters.
      tags:
      - Posts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve posts from
        required: true
      - schema:
          type: string
          enum:
          - all
          - scheduled
          - scheduled_approved
          - scheduled_pending
          - scheduled_declined
          - scheduled_reauth
          - scheduled_locked
          - published
          - published_posted
          - published_deleted
          - published_hidden
          - draft
          - draft_dated
          - draft_undated
          - draft_private
          - draft_public
          - failed
          - recycling
          - recycling_active
          - recycling_paused
          - recycling_expired
          - recycling_failed
          - recycling_pending
          - recycling_declined
          - recycling_reauth
          - recycling_locked
          - recurring
        name: state
        in: query
        description: "Filter by post state\n\n Available options: \n\n `all`, `scheduled`, `scheduled_approved`,\
          \ `scheduled_pending`, `scheduled_declined`, `scheduled_reauth`, `scheduled_locked`, `published`,\
          \ `published_posted`, `published_deleted`, `published_hidden`, `draft`, `draft_dated`, `draft_undated`,\
          \ `draft_private`, `draft_public`, `failed`, `recycling`, `recycling_active`, `recycling_paused`,\
          \ `recycling_expired`, `recycling_failed`, `recycling_pending`, `recycling_declined`, `recycling_reauth`,\
          \ `recycling_locked`, `recurring`"
        required: false
      - schema:
          type: array
          items:
            type: string
            enum:
            - all
            - scheduled
            - scheduled_approved
            - scheduled_pending
            - scheduled_declined
            - scheduled_reauth
            - scheduled_locked
            - published
            - published_posted
            - published_deleted
            - published_hidden
            - draft
            - draft_dated
            - draft_undated
            - draft_private
            - draft_public
            - failed
            - recycling
            - recycling_active
            - recycling_paused
            - recycling_expired
            - recycling_failed
            - recycling_pending
            - recycling_declined
            - recycling_reauth
            - recycling_locked
            - recurring
        style: form
        explode: true
        name: state
        in: query
        description: "Filter by multiple post states\n\n Available options: \n\n `all`, `scheduled`, `scheduled_approved`,\
          \ `scheduled_pending`, `scheduled_declined`, `scheduled_reauth`, `scheduled_locked`, `published`,\
          \ `published_posted`, `published_deleted`, `published_hidden`, `draft`, `draft_dated`, `draft_undated`,\
          \ `draft_private`, `draft_public`, `failed`, `recycling`, `recycling_active`, `recycling_paused`,\
          \ `recycling_expired`, `recycling_failed`, `recycling_pending`, `recycling_declined`, `recycling_reauth`,\
          \ `recycling_locked`, `recurring`"
        required: false
      - schema:
          type: string
          format: date
        name: from
        in: query
        description: "Filter posts scheduled/published after this date \n\n- Example: 2025-05-15 \n\n\
          \ Required if `to` is provided"
        required: false
      - schema:
          type: string
          format: date
        name: to
        in: query
        description: "Filter posts scheduled/published before this date \n\n- Example: 2025-05-15 \n\n\
          \ Required if `from` is provided"
        required: false
      - schema:
          type: integer
        name: page
        in: query
        description: Page number for pagination
        required: false
      - schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        name: account_ids
        in: query
        description: Filter posts by multiple account IDs
        required: false
      - schema:
          type: string
        name: query
        in: query
        description: Search query to filter posts by content
        required: false
      - schema:
          type: string
          enum:
          - status
          - link
          - photo
          - gif
          - video
          - reel
          - story
          - short
          - poll
          - document
          - carousel
          - article
        name: postType
        in: query
        description: "Filter by post type \n\n Available options: \n\n `status`, `link`, `photo`, `gif`,\
          \ `video`, `reel`, `story`, `short`, `poll`, `document`, `carousel`, `article`"
        required: false
      - schema:
          type: string
        name: member_id
        in: query
        description: Filter posts by team member ID
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostsListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
    delete:
      summary: Delete Multiple Posts
      description: Deletes one or multiple posts from the workspace specifying exact post IDs. Authorization
        rules apply to ensure users can only delete posts they have permission to delete.
      tags:
      - Posts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace containing the posts
        required: true
      - schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        name: post_ids
        in: query
        description: Array of post IDs to delete. Can include both MongoDB ObjectIDs and PostgreSQL IDs.
        required: true
      responses:
        '200':
          description: Posts deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_ids:
                    type: array
                    description: Array of IDs of successfully deleted posts
                    items:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /users/me:
    get:
      summary: Get Current User
      description: Retrieves information about the currently authenticated user.
      tags:
      - Users
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /workspaces:
    get:
      summary: List Workspaces
      description: Retrieves a list of all workspaces that the authenticated user has access to.
      tags:
      - Workspaces
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /posts/schedule:
    post:
      summary: Schedule posts
      description: Schedule one or more posts for publishing. Supports immediate publishing, scheduled
        publishing, auto-scheduling, recurring posts, and more.
      operationId: schedulePosts
      tags:
      - Posts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to schedule posts in
        required: true
      responses:
        '200':
          description: Posts scheduled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid scheduling parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPostsRequest'
        description: Post scheduling parameters
        required: true
  /posts/schedule/publish:
    post:
      summary: Create post
      description: Creates a new social media post. Can be scheduled for immediate publishing, future
        publishing, or saved as a draft.
      operationId: createPost
      tags:
      - Posts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to create post in
        required: true
      responses:
        '200':
          description: Post creation job initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid post data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPostsRequest'
        description: Post creation parameters
        required: true
  /job_status/{job_id}:
    get:
      summary: Get job status
      description: Check the status of an asynchronous job, including URL media uploads
      tags:
      - Jobs
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to retrieve posts from
        required: true
      - schema:
          type: string
        name: job_id
        in: path
        description: ID of the job to check
        required: true
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
  /media/from-url:
    post:
      summary: Upload media from URL
      description: Upload media files by providing URLs
      tags:
      - Media
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace to upload media
        required: true
      responses:
        '200':
          description: Media upload job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: ID of the created job
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponse'
        '403':
          description: Permission denied or missing required scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403JobErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaFromUrlRequest'
        description: URL upload request
        required: true
  /posts/{id}:
    put:
      summary: Update Post
      description: Updates an existing post. The behavior differs depending on whether the post is already
        published or not.
      tags:
      - Posts
      parameters:
      - schema:
          type: string
        name: Publer-Workspace-Id
        in: header
        description: ID of the workspace containing the post
        required: true
      - schema:
          type: string
        name: id
        in: path
        description: ID of the post to update
        required: true
      responses:
        '200':
          description: Post updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401ErrorResponseWithWorkspace'
        '403':
          description: Forbidden - You cannot update a post that has been published with approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
        '422':
          description: Unprocessable Entity - Error message explaining why the post couldn't be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                post:
                  type: object
                  required:
                  - text
                  properties:
                    text:
                      type: string
                      description: The main content text of the post
                    title:
                      type: string
                      description: Title for the post (used in some networks)
        description: Post update parameters
        required: true
components:
  schemas:
    401ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    403ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    Account:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the account
        provider:
          type: string
          description: The social network provider
          enum:
          - bluesky
          - facebook
          - instagram
          - linkedin
          - twitter
          - tiktok
          - youtube
          - pinterest
          - google
          - wordpress
          - telegram
          - mastodon
          - threads
        name:
          type: string
          description: The display name of the social media account
        social_id:
          type: string
          description: Unique identifier for the account on the social media platform
        picture:
          type: string
          description: URL to the account's avatar/logo
        type:
          type: string
          description: Account type
          enum:
          - page
          - profile
          - group
          - business
          - channel
          - location
          - blog
    401ErrorResponseWithWorkspace:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    PostsListResponse:
      type: object
      properties:
        posts:
          type: array
          description: List of posts matching the query parameters
          items:
            $ref: '#/components/schemas/PostSummary'
        total:
          type: integer
          description: Total number of posts matching the query
        page:
          type: integer
          description: Current page number
        per_page:
          type: integer
          description: Number of posts per page
        total_pages:
          type: integer
          description: Total number of pages
    PostSummary:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the post
        text:
          type: string
          description: Post text content
        url:
          type: string
          description: URL for link posts
        state:
          type: string
          description: Current state of the post
        type:
          type: string
          description: Type of post
        account_id:
          type: string
          description: ID of the social account
        user:
          type: object
          description: User who created the post
          properties:
            id:
              type: string
            name:
              type: string
            picture:
              type: string
        scheduled_at:
          type: string
          description: Scheduled publication time
        post_link:
          type: string
          description: Link to the published post on the social network
        has_media:
          type: boolean
          description: Indicates if the post contains media
        network:
          type: string
          description: Social network for this post
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
        email:
          type: string
          format: email
          description: Email address of the user
        name:
          type: string
          description: Full name of the user
        first_name:
          type: string
          description: First name of the user
        picture:
          type: string
          description: URL to the profile picture of the user
    Workspace:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the workspace
        owner:
          type: object
          description: Information about the workspace owner
          properties:
            id:
              type: string
              description: Unique identifier for the owner
            email:
              type: string
              description: Email address of the owner
            name:
              type: string
              description: Username of the owner
            first_name:
              type: string
              description: First name of the owner
            picture:
              type: string
              description: URL to the owner's profile picture
        name:
          type: string
          description: The workspace's display name
        members:
          type: array
          description: List of users with access to the workspace
          items:
            type: object
        plan:
          type: string
          description: Subscription plan of the workspace
        picture:
          type: string
          description: URL to the workspace's logo
    JobResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the job was created successfully
        data:
          type: object
          properties:
            job_id:
              type: string
              description: ID of the created job
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: List of error messages
          items:
            type: string
    BulkPostsRequest:
      type: object
      required:
      - bulk
      properties:
        bulk:
          type: object
          required:
          - state
          - posts
          properties:
            state:
              type: string
              description: State of the posts
              enum:
              - scheduled
              - draft
              - draft_private
              - draft_public
              - recurring
            posts:
              type: array
              description: List of posts to create
              items:
                type: object
                required:
                - networks
                properties:
                  networks:
                    type: object
                    description: Network-specific content for the post
                    properties:
                      facebook:
                        $ref: '#/components/schemas/FacebookNetworkContent'
                      instagram:
                        $ref: '#/components/schemas/InstagramNetworkContent'
                      twitter:
                        $ref: '#/components/schemas/TwitterNetworkContent'
                      linkedin:
                        $ref: '#/components/schemas/LinkedInNetworkContent'
                      pinterest:
                        $ref: '#/components/schemas/PinterestNetworkContent'
                      google:
                        $ref: '#/components/schemas/GoogleBusinessNetworkContent'
                      youtube:
                        $ref: '#/components/schemas/YouTubeNetworkContent'
                      tiktok:
                        $ref: '#/components/schemas/TikTokNetworkContent'
                      wordpress_oauth:
                        $ref: '#/components/schemas/WordPressNetworkContent'
                      wordpress_basic:
                        $ref: '#/components/schemas/WordPressNetworkContent'
                      telegram:
                        $ref: '#/components/schemas/TelegramNetworkContent'
                      mastodon:
                        $ref: '#/components/schemas/MastodonNetworkContent'
                      threads:
                        $ref: '#/components/schemas/ThreadsNetworkContent'
                      bluesky:
                        $ref: '#/components/schemas/BlueskyNetworkContent'
                  accounts:
                    type: array
                    description: List of accounts to post to
                    items:
                      type: object
                      required:
                      - id
                      properties:
                        id:
                          type: string
                          description: Account identifier
                        scheduled_at:
                          type: string
                          description: Time to schedule the post
                          format: date-time
                        labels:
                          type: array
                          description: List of labels for the post
                          items:
                            type: string
                        previewed_media:
                          type: boolean
                          description: Whether media has been previewed
                        share:
                          type: object
                          description: Auto-share settings for this post
                          properties:
                            text:
                              type: string
                              description: Custom text for the shared post. If not provided, the original
                                post text will be used.
                            account_ids:
                              type: array
                              description: Array of account IDs to share the post with
                              items:
                                type: string
                            after:
                              type: object
                              description: When to share the post after the original is published
                              properties:
                                duration:
                                  type: number
                                  description: The duration value
                                unit:
                                  type: string
                                  description: The time unit (Minute, Hour, Day, Week)
                                  enum:
                                  - Minute
                                  - Hour
                                  - Day
                                  - Week
                            delay:
                              type: object
                              description: Delay between sharing to multiple accounts
                              properties:
                                duration:
                                  type: number
                                  description: The duration value
                                unit:
                                  type: string
                                  description: The time unit (Minute, Hour, Day, Week)
                                  enum:
                                  - Minute
                                  - Hour
                                  - Day
                                  - Week
                        comments:
                          type: array
                          description: Follow-up comments to be posted after the original post
                          items:
                            type: object
                            properties:
                              text:
                                type: string
                                description: The text content of the comment
                              language:
                                type: string
                                description: The language of the comment
                              delay:
                                type: object
                                description: When to post the comment after the original post is published
                                properties:
                                  duration:
                                    type: number
                                    description: The duration value
                                  unit:
                                    type: string
                                    description: The time unit (Minute, Hour, Day, Week)
                                    enum:
                                    - Minute
                                    - Hour
                                    - Day
                                    - Week
                              media:
                                type: object
                                description: Media to include with the comment
                                properties:
                                  type:
                                    type: string
                                    description: Type of media (photo, video, gif)
                                    enum:
                                    - photo
                                    - video
                                    - gif
                                  path:
                                    type: string
                                    description: Path to the media file
                                  caption:
                                    type: string
                                    description: Caption for the media
                                  thumbnail:
                                    type: string
                                    description: Thumbnail for video media
                                  thumbnails:
                                    type: object
                                    description: Different sizes of thumbnails for video media
                                    properties:
                                      real:
                                        type: string
                                        description: Full-size thumbnail
                                      small:
                                        type: string
                                        description: Small thumbnail
                        delete:
                          type: object
                          description: Auto-delete settings for this post
                          properties:
                            hide:
                              type: boolean
                              description: If true, the post will be hidden instead of deleted (platform-dependent)
                            delay:
                              type: object
                              description: When to delete/hide the post after it's published
                              properties:
                                duration:
                                  type: number
                                  description: The duration value
                                unit:
                                  type: string
                                  description: The time unit (Minute, Hour, Day, Week)
                                  enum:
                                  - Minute
                                  - Hour
                                  - Day
                                  - Week
                  recycling:
                    type: object
                    description: Recycling configuration for the post
                    properties:
                      solo:
                        type: boolean
                        description: Whether to recycle as a solo post
                      gap:
                        type: integer
                        description: Gap between recycles
                      gap_freq:
                        type: string
                        description: Frequency of the gap
                        enum:
                        - Day
                        - Week
                        - Month
                      start_date:
                        type: string
                        description: Start date for recycling
                        format: date
                      expire_count:
                        type: string
                        description: Number of times to recycle
                      expire_date:
                        type: string
                        description: Date when recycling expires
                        format: date
                  recurring:
                    type: object
                    description: Recurring configuration for the post
                    required:
                    - start_date
                    - end_date
                    - repeat
                    - repeat_rate
                    properties:
                      start_date:
                        type: string
                        description: Start date for recurring posts
                        format: date-time
                      end_date:
                        type: string
                        description: End date for recurring posts
                        format: date-time
                      repeat:
                        type: string
                        description: Recurrence pattern
                        enum:
                        - daily
                        - weekly
                        - monthly
                        - yearly
                      days_of_week:
                        type: array
                        description: Days of the week (0=Monday, 6=Sunday)
                        items:
                          type: integer
                          minimum: 0
                          maximum: 6
                      repeat_rate:
                        type: integer
                        description: Rate of repetition
                  share_next:
                    type: boolean
                    description: Whether to share the post next in queue
                  range:
                    type: object
                    description: Time range for auto-scheduled posts
                    properties:
                      start_date:
                        type: string
                        description: Start date of the range
                        format: date-time
                      end_date:
                        type:
                        - string
                        - 'null'
                        description: End date of the range
                        format: date-time
                  auto:
                    type: boolean
                    description: Whether to use auto scheduling
    FacebookNetworkContent:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Content type for Facebook
          enum:
          - status
          - photo
          - video
          - link
          - carousel
          - story
          - reel
          - gif
        text:
          type: string
          description: Post text content
        title:
          type: string
          description: Video title (for videos, truncated to 255 chars)
        excerpt:
          type: string
          description: Post excerpt
        url:
          type: string
          description: Link URL for link posts
        post_id:
          type: string
          description: Facebook post ID after publishing
        post_link:
          type: string
          description: Facebook post URL after publishing
        question:
          type: string
          description: Poll question
        duration:
          type: integer
          description: Poll duration in hours
        details:
          type: object
          description: Details for the post
          properties:
            type:
              type: string
              description: Network-specific content type
              enum:
              - reel
              - story
            text_format_preset_id:
              type: string
              description: Background color for the post
              enum:
              - '106018623298955'
              - '365653833956649'
              - '618093735238824'
              - '191761991491375'
              - '2193627793985415'
              - '200521337465306'
              - '1821844087883360'
              - '177465482945164'
              - '160419724814650'
              - '248623902401250'
              - '240401816771706'
              - '1868855943417360'
              - '255989551804163'
              - '1792915444087912'
              - '1654916007940525'
              - '1679248482160767'
              - '518948401838663'
              - '423339708139719'
              - '204187940028597'
              - '621731364695726'
              - '518596398537417'
              - '134273813910336'
              - '217321755510854'
              - '323371698179784'
              - '901751159967576'
              - '552118025129095'
              - '263789377694911'
              - '606643333067842'
              - '458988134561491'
              - '548109108916650'
              - '175493843120364'
              - '338976169966519'
              - '206513879997925'
              - '168373304017982'
              - '1271157196337260'
              - '174496469882866'
              - '862667370603267'
              - '127541261450947'
              - '218067308976029'
              - '688479024672716'
              - '238863426886624'
              - '301029513638534'
              - '154977255088164'
              - '1941912679424590'
              - '396343990807392'
              - '143093446467972'
              - '161409924510923'
              - '145893972683590'
              - '217761075370932'
              - '931584293685988'
              - '148862695775447'
              - '100114277230063'
              - '558836317844129'
              - '172497526576609'
              - '433967226963128'
              - '197865920864520'
              - '643122496026756'
              - '762009070855346'
              - '228164237768720'
              - '146487026137131'
              - '221828835275596'
              - '1903718606535395'
              - '1881421442117417'
              - '249307305544279'
              - '1777259169190672'
              - '303063890126415'
              - '122708641613922'
              - '319468561816672'
              - '121945541697934'
              - '288211338285858'
              - '446330032368780'
              - '219266485227663'
              - '1289741387813798'
              - '1365883126823705'
            feed:
              type: boolean
              description: Whether to share the reel to feed
            reminder:
              type: boolean
              description: Use reminder publishing instead of API
            audio:
              type: string
              description: Audio name for the reel
            start:
              type: string
              description: Start time for events
            end:
              type: string
              description: End time for events
            coupon:
              type: string
              description: Coupon code
            terms:
              type: string
              description: Terms and conditions
            privacy:
              type: string
              description: Privacy setting
            comment:
              type: boolean
              description: Allow comments
            duet:
              type: boolean
              description: Allow duets
            stitch:
              type: boolean
              description: Allow stitch
            promotional:
              type: boolean
              description: Mark as promotional content
            paid:
              type: boolean
              description: Mark as paid partnership
            language:
              type: string
              description: Content language
            auto_add_music:
              type: boolean
              description: Auto add music
            sponsor:
              type: object
              description: Sponsor information for branded content
              properties:
                id:
                  type: string
                  description: Sponsor Facebook ID
                name:
                  type: string
                  description: Sponsor name
                verified:
                  type: boolean
                  description: Whether sponsor is verified
                boost:
                  type: boolean
                  description: Whether post can be boosted
            community:
              type: object
              description: Community information
              properties:
                id:
                  type: string
                  description: Community ID
                name:
                  type: string
                  description: Community name
        media:
          type: array
          description: Media items to include
          items:
            $ref: '#/components/schemas/MediaItem'
        link:
          $ref: '#/components/schemas/LinkDetails'
        sublinks:
          type: array
          description: Facebook carousel sublinks
          items:
            $ref: '#/components/schemas/FacebookSublink'
        tags:
          type: array
          description: Post tags
          items:
            type: string
        categories:
          type: array
          description: Post categories
          items:
            type: string
        featured_media:
          type: object
          description: Featured media information
          properties:
            path:
              type: string
              description: Path to featured media
        options:
          type: array
          description: Poll options
          items:
            type: string
    MediaItem:
      type: object
      properties:
        id:
          type: string
          description: Media ID (from upload)
        type:
          type: string
          enum:
          - image
          - video
          - document
          - gif
        alt_text:
          type: string
          description: Accessibility description for images
    LinkDetails:
      type: object
      description: Link details for link posts
      properties:
        url:
          type: string
          description: URL to link to
        title:
          type: string
          description: Title of the link
        description:
          type: string
          description: Description of the link
        image_id:
          type: string
          description: ID of the image to use for link preview
    FacebookSublink:
      type: object
      description: Configuration for a Facebook link post sublink preview
      properties:
        url:
          type: string
          description: URL of the link
        provider_display:
          type: string
          description: Display name of the link provider (typically domain name)
        original_description:
          type: string
          description: Original meta description of the linked webpage
        original_title:
          type: string
          description: Original meta title of the linked webpage
        original_images:
          type: array
          description: Array of original images found on the linked webpage
          items:
            type: string
            format: uri
        original_url:
          type: string
          description: Original URL without protocol
        description:
          type: string
          description: Description to use in the link preview (can be customized)
        title:
          type: string
          description: Title to use in the link preview (can be customized)
        images:
          type: array
          description: Images to use in the link preview (can be customized)
          items:
            type: string
            format: uri
        default_image:
          type: integer
          description: Index of the default image to display in the preview (0-based)
          minimum: 0
        caption:
          type: string
          description: Additional caption for the link
        call_to_action:
          type: string
          description: Call-to-action button type for the link preview
          enum:
          - NO_BUTTON
          - SHOP_NOW
          - BOOK_TRAVEL
          - LEARN_MORE
          - SIGN_UP
          - DOWNLOAD
          - GET_OFFER
          - GET_DIRECTIONS
          - BUY_NOW
          - CALL_NOW
          - APPLY_NOW
          - MESSAGE_PAGE
          - SEND_MESSAGE
          - CONTACT_US
          - SUBSCRIBE
          - USE_APP
          - PLAY_GAME
          - WATCH_VIDEO
          - WATCH_MORE
          - OPEN_LINK
        phone_number:
          type: string
          description: Phone number to use with CALL_NOW call-to-action button
        customized:
          type: boolean
          description: Whether this sublink has been customized from the original link preview
      required:
      - url
      - title
      - description
      - images
    InstagramNetworkContent:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Content type for Instagram
          enum:
          - photo
          - video
          - carousel
          - story
          - reel
        text:
          type: string
          description: Caption text
        media:
          type: array
          description: Media items to include
          items:
            $ref: '#/components/schemas/MediaItem'
        carouselOptions:
          $ref: '#/components/schemas/CarouselOptions'
        firstComment:
          type: string
          description: Text for first comment (often used for hashtags)
        details:
          type: object
          description: Details for the post
          properties:
            type:
              type: string
              description: Network-specific content type
              enum:
              - reel
              - story
            // Reel-specific properties: {}
            audio:
              type: string
              description: Audio name for the reel
            feed:
              type: boolean
              description: Whether to share the reel to feed
    CarouselOptions:
      type: object
      description: Carousel-specific options
      properties:
        slides:
          type: array
          description: Individual slide configurations
          items:
            type: object
            properties:
              media_id:
                type: string
                description: Media ID for this slide
              alt_text:
                type: string
                description: Accessibility description for this slide
              caption:
                type: string
                description: Caption for this specific slide
    TwitterNetworkContent:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Content type for Twitter/X
          enum:
          - status
          - photo
          - video
          - link
          - gif
          - poll
        text:
          type: string
          description: Tweet text
        media:
          type: array
          description: Media items to include
          items:
            $ref: '#/components/schemas/MediaItem'
        link:
          $ref: '#/components/schemas/LinkDetails'
        // Poll-specific properties: {}
        options:
          type: array
[...]
